{% extends "base.html" %}



{% block Headers %}
    {% include "components/Headers.html" %}
{% endblock Headers %}

{% block Body %}
    {% include "components/Body.html" %}
  
{% endblock Body %}


{% block botnav %}
    {% include "components/Botnav.html" %}
{% endblock botnav %}

{% block Perjamuan %}
    {% include "components/Perjamuan.html" %}
{% endblock Perjamuan %}

{% block Alamat %}
    {% include "components/Alamat.html" %}
{% endblock Alamat %}

{% block Pesan %}
    {% include "components/Pesan.html" %}
{% endblock Pesan %}

{% block Foother %}
    {% include "components/Foother.html" %}
  
{% endblock Foother %}