<div class="flex flex-col justify-center items-center text-white pb-28">
    <div class="flex flex-col justify-center items-center p-10 space-y-3 font-[Poppins] text-center">
        <span class="text-sm">Alamat :</span>
        <span class="text-xs">Desa Watumela, Kec. Lawa, Kab. Muna Barat</span>
    </div>
    <a href="https://www.google.com/maps?q=-4.8724751472473145,122.55223846435547&z=17&hl=id" target="_blank" class="text-xs flex justify-center items-center border-2 shadow-lg boreder-white p-3 rounded-full space-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="white" viewBox="0 0 24 24">
            <path
                d="M12 0c-4.198 0-8 3.403-8 7.602 0 4.198 3.469 9.21 8 16.398 4.531-7.188 8-12.2 8-16.398 0-4.199-3.801-7.602-8-7.602zm0 11c-1.657 0-3-1.343-3-3s1.343-3 3-3 3 1.343 3 3-1.343 3-3 3z" />
        </svg>
        <span>Lihat Lokasi</span>
    </a>
</div>