{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,200;1,400&display=swap');

</style>

<div id="buka" class="flex flex-col justify-center pt-10 items-center w-full pb-28">
    <div data-aos="fade-up" data-aos-duration="3000" id="mytext" class="w-72">
        <img src="{% static 'img/bingkaiTop.png' %}" alt="">
    </div>
    <div class="flex flex-col justify-center items-center p-10 space-y-10">
        <span data-aos="fade-up" data-aos-duration="3000" class="text-sm text-center font-bold font-[Poppins] italic text-white">Assalamualaikum
            Warahmatullahi Wabarakatuh,</span>
        <span data-aos="fade-up" data-aos-duration="3000" class="text-xs max-w-md text-white text-center font-[Poppins] ">
            Dengan memohon Rahmat dan Ridho Allah SWT. Kami sekeluarga
            mengundang Saudari (i) untuk Hadir di Kediaman kami.
            Guna Memberikan Doa Dalam Acara Pingitan

        </span>
    </div>

    <div data-aos="fade-up" data-aos-duration="3000" id="mytext" class="w-72">
        <img src="{% static 'img/bingkaiBot.png' %}" alt="">
    </div>



    <div class="flex flex-col justify-center items-center space-y-16 pt-40  text-white">

        <span class="text-4xl font-[Satisfy]">Pingitan</span>
        <div class="w-72 ">
            <img src="{% static 'img/fpulfah.png' %}" alt="">
        </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-4 pt-5 text-white">
        <a href="https://www.instagram.com/ulfah_lr/" target="_blank" class="flex items-center space-x-1">
            <svg class= "w-5" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path
                d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z" />
            </svg>
            <span class="text-sm font-[Poppins]">ulfah_lr</span>
        </a>
        <span class="text-xl font-bold font-[Poppins] tracking-widest ">Ulfah</span>
    </div>

</div>