{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


</style>


<div data-aos="fade-up" data-aos-duration="3000" class="w-72flex flex-col justify-center items-center text-white space-y-20 pb-28">
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col justify-center items-center pb-10">
            <span class="text-6xl font-['Sacramento']">Tari Adat
            
            </span>
            <span class=" tracking-widest font-[Dosis]">(Kafosampu)</span>
        </div>
        
        <div class="flex flex-col justify-center items-center tracking-widest space-y-3">

            <span class="font-bold font-[Dosis]">
                Sabtu, 03 September 2022
            </span>
            <span class="font-bold font-[Dosis]">
                Pukul 19:00 ~ Selesai
            </span>
        </div>
    </div>
   
    <div class="flex flex-col justify-center items-center">
        <span class="text-6xl font-['Sacramento'] pb-10">Perjamuan</span>
        <div class="flex flex-col justify-center items-center tracking-widest space-y-3">

            <span class="font-bold font-[Dosis]">
                Senin, 05 September 2022
            </span>
            <span class="font-bold font-[Dosis]">
                Pukul 13:00 ~ Selesai
            </span>
        </div>
    </div>
   
</div>